

body {

  animation-duration: 4s;
  animation-iteration-count: infinite;
  position: relative;
  animation-name: background-change;
}

img {
  animation-name: image-mv;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  width: 100px;
  height: 150px;
  position: absolute;
}


@keyframes image-mv{
  0% { left: 0%; top: 0%;}
  25% { left: calc(100% - 100px); top: 0%;}
  50% { left: calc(100% - 100px); bottom: calc(0% - 150px);}
  75% { left: 0%; bottom: calc(0% - 150px); }
  100% { left: 0%; top:0%;}
}
@keyframes background-change {
  0% {background-color: red;}
  25% {background-color: green;}
  50% {background-color: yellow;}
  75% {background-color: white;}
  100% {background-color: red;}

}
